<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>swiggy</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center"
    >
      <div
        class="container-fluid d-flex justify-content-center"
        style="color: white"
      >
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS26jdwsdfZqegFpf97ZokOIZDcwCy5oYO5TA&usqp=CAU"
          alt="swiggy"
          class="logo"
          width="50"
          height="50"
          style="mix-blend-mode: multiply"
        />
        <h2 style="color: rgb(234, 123, 38)">Swiggy</h2>
        <div
          class="collapse navbar-collapse d-flex justify-content-center"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active d-flex justify-content-around"
                aria-current="page"
                href="/main"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex justify-content-around" href="/location"
                >Location</a
              >
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdown"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Items
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="dropdown-item" href="/india">Indian</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/chaines">Chanies</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/italin">Italin</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <form class="d-flex py-lg-2">
            <input
              class="form-control me-lg-3 d-flex justify-content-center"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success d-flex justify-content-center"
              type="submit"
            >
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div>
      <h1 class="px-5">Chaniese cusions</h1>
      <div class="p-5">
        <div class="row">
          <div class="col-sm-4">
            <div class="card" style="width: 18rem">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5fdOjG3qI8MmGC7KNPkWfhPsf4yw9Ak6A2ywJaWJDnBpECdKAw94aya-TAk401r8NLT8&usqp=CAU"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Friend cafe</h5>
                <div class="card-text">
                  <span class="fa fa-star checked" style="color: green"
                    >4.5</span
                  >
                  <div>
                    <p style="color: black">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Laborum, necessitatibus! Ex, natus officia! Praesentium ut
                      ullam
                    </p>
                  </div>
                </div>
                <a href="/menu1" class="btn btn-primary">open</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrSodh2_bz3T_LLA16yP9WdpyAoAUkC5-TdA&usqp=CAU"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Zhangs Chaines Restaurant</h5>
                <div class="card-text">
                  <span class="fa fa-star checked" style="color: green"
                    >4.2</span
                  >
                  <div>
                    <p style="color: black">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Laborum, necessitatibus! Ex, natus officia! Praesentium ut
                      ullam
                    </p>
                  </div>
                </div>
                <a href="/menu2" class="btn btn-primary">open</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLPBmemq4oVx8KfCRjrWLqn_5ap9Sj7cr-mw&usqp=CAU"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Hot Chaines Combo</h5>
                <div class="card-text">
                  <span class="fa fa-star checked" style="color: green"
                    >4.5</span
                  >
                  <div>
                    <p style="color: black">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Laborum, necessitatibus! Ex, natus officia! Praesentium ut
                      ullam
                    </p>
                  </div>
                </div>
                <a href="/menu3" class="btn btn-primary">open</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-sm-4">
            <div class="card" style="width: 18rem">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLD2MWxaFzqkKStfbqvF95EyrAbM-H0FI9YQ&usqp=CAU"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Ram Cafe</h5>
                <div class="card-text">
                  <span class="fa fa-star checked" style="color: green"
                    >4.1</span
                  >
                  <div>
                    <p style="color: black">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Laborum, necessitatibus! Ex, natus officia! Praesentium ut
                      ullam
                    </p>
                  </div>
                </div>
                <a href="/menu1" class="btn btn-primary">open</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2-I4_XPV5M-s6iMe6xQQVsqfl70MasPwj6JDJigo5sq_YTOiIfuXX0lUHTxSpeH5s16o&usqp=CAU"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Chaines BAE</h5>
                <div class="card-text">
                  <span class="fa fa-star checked" style="color: green"
                    >4.3</span
                  >
                  <div>
                    <p style="color: black">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Laborum, necessitatibus! Ex, natus officia! Praesentium ut
                      ullam
                    </p>
                  </div>
                </div>
                <a href="/menu2" class="btn btn-primary">open</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRagKXZeMkAkplaNbwiG0sRqWoUQdjzC8btIQ&usqp=CAU"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Royal Restaurant</h5>
                <div class="card-text">
                  <span class="fa fa-star checked" style="color: green"
                    >4.2</span
                  >
                  <div>
                    <p style="color: black">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Laborum, necessitatibus! Ex, natus officia! Praesentium ut
                      ullam
                    </p>
                  </div>
                </div>
                <a href="/menu3" class="btn btn-primary">open</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
